    
    /* GLOBAL FONT */
body {
    font-family: Arial, sans-serif;
}

:root {
  --primary-color: #7E00A7;
  --light-color: #FCF5FF;
  --title-color: #000000;
  --text-color: #959BAC;
  --border-color: #454C63;
  --font: 'Istok Web', sans-serif;
  --theme-light: #DBC0E5;
}

/* ---------------- TOP BAR ---------------- */

.top-offer-bar {
  background: #000;
  font-size: 0.9rem;
  font-family: var(--font);
}

.top-limited {
  color: var(--theme-light);
}

.bg-round {
  background: var(--primary-color);
}

/* ---------------- SEARCH BAR ---------------- */

.search-bar {
  position: relative;
  width: 410px;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #959BAC !important;
  color: #9E9D9D !important;
  font-family: var(--font);
  font-size: 0.9rem;
}

.search-bar input {
  border: none;
  font-family: var(--font);
  width: 100%;
}

.second-input:focus-visible {
  outline: none !important;
}

/* ---------------- NAVBAR ---------------- */

.nav-item {
  font-size: 0.9rem !important;
  font-family: var(--font);
  font-weight: 400;
  line-height: 100%;
}

.nav-link {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--title-color);
  margin-right: 20px;
}

/* ---------------- BUTTONS ---------------- */

.btns {
  padding: 7px 36px;
}

.btn-purple {
  background-color: var(--primary-color) !important;
  color: white;
  border-radius: 6px;
  font-weight: 400;
  font-family: var(--font);
}

.btn-outline-purple {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color) !important;
  color: white;
  border-radius: 6px;
  font-weight: 400;
  font-size: 0.96rem;
  font-family: var(--font);
  width: 248px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-purple:hover {
  background: #7E00A7;
  color: white;
}


    /* COURSE CARD */
    .course-card {
      border-radius: 6px;
      display: flex; 
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.25); 
      background-color: rgba(251, 251, 251, 1);
    }

    .course-img {
      width: 93px;
      height: 97px;
      object-fit: cover;
      border-radius: 6px;
    }

    .course-title {
      font-size: 1.1rem;
      font-weight: 400;
      color: #363942;
    }

    .course-desc {
      font-size: 0.8rem;
      color: #6E7380;
      font-weight: 400;
      
    }

    .rating {
      color: #f5a623;
    
    }
    .text-mute{
       font-weight: 400;
       font-size: 0.6rem;
       color: #6E7380;
    }

    .duration {
      font-size: 0.85rem;
      font-weight: 400;
      color: #6E7380;
    }

    .price {
      font-size: 0.85rem;
      font-weight: 700;
      color: #7E00A7;
    }

    .old-price {
      text-decoration: line-through;
      color: #6E7380;
      font-size: 0.85rem;
      font-weight: 400;
    }

    /* RIGHT PANEL */
    

    .coupon-input {
      font-size: 0.85rem;
    }

    .summary-title {
      font-weight: 700;
      font-size: 0.875rem;
      
    }

    .summary-row {
      display: flex;
      justify-content: space-between;
      font-size: 0.875rem;
      font-weight: 400;
      color: #363942;
      
    }

    .summary-row span:last-child {
      color: #7E00A7;
     
    }

    .total {
      font-weight: 700;
      margin-top: 0.9rem;
    }

    .checkout-btn {
      background: #7E00A7;
      color: #fff;
      padding: 15px;
      border-radius: 10px;
      border: none;
      width: 100%;
      font-weight: 700;
      font-size: 0.875rem;
    }

    .checkout-btn:hover {
      background: #6b0091;
    }


   /* .coupon-row {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 700px;
} */

.coupon-label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #363942;
    white-space: nowrap;
}

.apply-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 5px;
    background: #FBFBFB;
}

.apply-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-weight: 400;
    color: #C3C3C3;
    background: #FBFBFB
}



.apply-wrapper button {
    background: none;
    border: none;
    color: #7E00A7;
    font-weight: 700;
    font-size: 0.75rem;
    cursor: pointer;
    white-space: nowrap;
}

.apply-wrapper button:hover {
    text-decoration: underline;
}
