body {
  margin: 0;
 background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(245, 220, 254, 1));
  font-family: 'Istok Web', sans-serif;
}

   


/* Main Wrapper */
.course-resources-wrapper {
  padding-bottom: 7rem;
}

/* Header */
.course-header {
  font-weight: 700;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 1);
}

.back-arrow {
  font-size: 18px;
  cursor: pointer;
}

.course-header h5 {
  font-weight: 500;
  font-size: 15px;
}

/* Lecture List */
.lecture-list {
  max-width: 100%;
}

.lecture-item {
  margin-bottom: 1.7rem;
}

.lecture-item h6 {
  font-size: 0.875rem;
  font-weight: 700;
  color:#000000;
  margin-bottom: 4px;
}

.lecture-item p {
  font-size: 0.875rem;
  font-weight: 700;
  color: #6E7380;
  line-height: 1.6;
  margin: 0;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .lecture-item p {
    font-size: 11.5px;
  }
}
