:root {
  --primary-color: #7E00A7;
  --light-color: #FCF5FF;
  --title-color: #000000;
  --text-color: #959BAC;
  --border-color: #454C63;
  --font: 'Istok Web', sans-serif;
  --theme-light: #DBC0E5;
}

/* ---------------- TOP OFFER BAR ---------------- */

.top-offer-bar {
  background: #000;
  font-size: 0.9rem;
  font-family: var(--font);
}

.top-limited {
  color: var(--theme-light);
}

.bg-round {
  background: var(--primary-color);
}

/* ---------------- NAVBAR ---------------- */

.nav-item {
  font-size: 0.9rem !important;
  font-family: var(--font);
  font-weight: 400;
}

.nav-link {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--title-color);
  margin-right: 20px;
}

/* ---------------- BUTTONS ---------------- */

.btns {
  padding: 7px 36px;
  width: 248px;
  height: 38px;
  color:#ffffff;
}

.btn-purple {
  background-color: var(--primary-color) !important;
  color: #fff;
  border-radius: 6px;
  font-weight: 400;
  font-family: var(--font);
}

.btn-outline-purple {
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  font-weight: 500;

}

.btn-outline-purple:hover {
  background: var(--primary-color);
  /* color: #fff; */
}

/* ---------------- SEARCH BAR ---------------- */



.search-bar input {
  width: 100%;
  border: 1.5px solid #454C63;
  font-family: var(--font);
}



.search-bar {
    display: flex;
  align-items: center;
  padding: 0 8px;
  width: 410px;
  height: 38px;
  min-width: 35% !important;
  border-radius: 10px;
  border: 1px solid var(--border-color) ;
  font-family: var(--font);
  margin-right: 490px;
  margin-left: 120px;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
}
.second-input:focus-visible {
  /* outline: none !important; */
}

/* ---------------- LEFT SECTION ---------------- */

.left-section {
  font-family: var(--font);
}

.title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: var(--title-color);
}

.content {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-color);
}

/* ---------------- AUTH BOX ---------------- */

.auth-box {
  background: var(--light-color);
  border-radius: 10px;
  padding: 50px 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  height: 564px;
  width: 463px;
  position: relative;
  left: 33px;
}

.auth-title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--title-color);
}

.form-control {
  height: 43px;
  border-radius: 10px;
  border: 1px solid var(--border-color) !important;
  font-family: var(--font);
}

.form-control:focus {
  box-shadow: none !important;
}



/* ---------------- FOOTER ---------------- */

.footer-section {
  background-color: var(--light-color);
  position: relative;
  overflow: hidden;
}

.footer-col {
  position: relative;
  z-index: 2;
}

.footer-bg-img {
  position: absolute;
  z-index: 1;
}

.footer-bg-img.top {
  top: -40px;
  right: -17px;
}

.footer-bg-img.bottom {
  right: 65px;
  bottom: -50px;
}

.fw-text {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: var(--font);
  color: var(--title-color);
}

.bg-text {
  font-family: var(--font);
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: var(--title-color);
}

.footer-list {
  margin-top: 10px;
}:root {
  --primary-color: #7E00A7;
  --light-color: #FCF5FF;
  --title-color: #000000;
  --text-color: #959BAC;
  --border-color: #454C63;
  --font: 'Istok Web', sans-serif;
  --theme-light: #DBC0E5;
}

/* ================= GLOBAL ================= */

body {
  font-family: var(--font);
  overflow-x: hidden;
  /* height: 100vh; */
}

/* ================= TOP BAR ================= */

.top-offer-bar {
  background: #000;
  font-size: 0.9rem;
}

.top-limited {
  color: var(--theme-light);
}

.bg-round {
  background: var(--primary-color);
}

/* ================= NAVBAR ================= */

.nav-item {
  font-size: 0.9rem !important;
}

.nav-link {
  font-size: 0.9rem;
  color: var(--title-color);
  margin-right: 20px;
}



/* ================= BUTTONS ================= */

.btns {
  padding: 7px 36px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.btn-purple {
  background-color: var(--primary-color) !important;
  color: #fff;
  border-radius: 6px;
}

.btn-outline-purple {
  border: 2px solid var(--primary-color);
  border-radius: 6px;
 
}

.btn-outline-purple:hover {
  background: var(--primary-color);
  color: #fff;
}

/* ================= LEFT SECTION ================= */

/* Parent ko relative */
.left-section {
  position: relative;
}

/* IMAGE normal rahe */
.left-section .col-md-9 {
  position: relative;
  z-index: 1;
}

/* TEXT image ke upar overlap kare */
.left-section .col-md-5 {
  position: absolute;
  top: 120px;        /* yahan adjust kar sakte ho */
  left: 0;
  z-index: 2;
}



.title {
  width: 293px;
  height: 79px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  position: relative;
  left: 70px;
  top: -70px;
  color: white;
}

.content {
    width: 293px;
  height: 79px;
    position: relative;
  left: 70px;
  top: -100px;
  font-size: 16px;
  color: white;
}

.students {

  width: 911px;
  height:650px;
  position: relative;
  top: -10px;
  margin-left: 30px;


}





/* ================= AUTH BOX ================= */

.auth-box {
  background: var(--light-color);
  border-radius: 10px;
  padding: 40px 20px;
  
  width: 490px;
  height:650px;
  /* margin: 0px  auto 60px; */
  margin-top: 0;
  margin-bottom: 50px;
  position: relative;
  top: 10px;
  left: px;
  padding-top: 97px;

   
}


.page-content {
  min-height: auto !important;
}
.auth-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.form-control {
  height: 43px;
  border-radius: 10px;
  border: 1px solid var(--border-color) !important;
}

.enter-otp-text{
  position: relative;
  /* top: 0px; */
  left: 0px;
  color: #9D9EA2;

}
.form-control:focus {
  box-shadow: none !important;
}


/* ================= OTP ================= */

/* ---------------- OTP ---------------- */


.otp-input {
  width: 64px;
  height: 53px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #454C63;
  
}


/* ================= FOOTER ================= */

.footer-section {
  background-color: var(--light-color);
  position: relative;
  overflow: hidden;
}

.footer-col {
  position: relative;
  z-index: 2;
}

.footer-bg-img {
  position: absolute;
  z-index: 1;
  max-width: 120px;
  opacity: 0.2;
}

.footer-bg-img.top {
  top: -30px;
  right: -10px;
}

.footer-bg-img.bottom {
  bottom: -40px;
  right: 40px;
}

.fw-text {
  font-weight: 700;
  font-size: 1.3rem;
}

.bg-text {
  font-size: 15px;
  line-height: 28px;
}

.footer-list {
  margin-top: 10px;
}

/* ================= COPYRIGHT ================= */

.copyright-bar {
  background-color: var(--primary-color);
  font-size: 0.9rem;
  color: #fff;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .left-section {
    text-align: center;
  }

  .search-bar {
    max-width: 100%;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .title {
    font-size: 22px;
    line-height: 28px;
  }

  .content {
    font-size: 14px;
  }

 

  .footer-bg-img {
    display: none;
  }

  .footer-section {
    text-align: center;
  }
}


/* ---------------- COPYRIGHT ---------------- */

.copyright-bar {
  background-color: var(--primary-color);
  font-size: 0.9rem;
  color: #fff;
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 768px) {
  .footer-section {
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }
}
