body {
  margin: 0;
  background: linear-gradient(to bottom, #ffffff, #F5DCFE);
  font-family: "Inter", sans-serif;
}

.course-header {
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
}
/* Video */
.video-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 442px;
  border-radius: 23px;
}
.video-img{
width: 100%;
height: 100%;
object-fit: cover; 
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 0.5;
  color: #7e00a7;
  width: 98px;
  height: 103px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
}

.progress {
  height: 9px;
  margin-top: 0.7rem;
}
.progress-bar {
  background: #7e00a7;
}
/* Bottom overlay */
.video-progress-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 43px 16px;
  background: rgba(217, 217, 217, 0.5); /* semi-transparent */
  backdrop-filter: blur(2px);
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

/* Lecture List */
.Lecture-header {
  font-size: 1.875rem;
  font-weight: 400;
}
.quiz-text {
  font-size: 1.063rem;
  font-weight: 700;
  color: #6e7380;
}
.lock-btn{
height: 22px;
width: 23px;
}
.Lecture-detail {
  font-size: 1.875rem;
  font-weight: 700;
}
/* Actions */
.action-link {
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}
.lecture-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.lectureitem-answer {
  font-size: 1.063rem;
  font-weight: 400;
  color: black;
}
.lecture-item strong{
  font-size: 1.125rem;
  font-weight: 700;
}

.lecture-item.active {
  border-bottom-color: #8e2de2;
}

/* Sidebar */

.section-title {
  font-weight: 700;
  font-size: 1.125rem;
}
.lecture-head {
  font-size: 1.063rem;
  font-weight: 700;
}
.lecture-question {
  font-weight: 700;
  font-size: 1.063rem;
}
.lecture-answer {
  font-weight: 400;
  font-size: 1.063rem;
}
.lecture-answerb{
  font-size: 1rem;
  font-weight: 400;
  color: #6E7380;
}
.lecture-time {
  font-weight: 400;
  font-size: 0.875rem;
  color: #7e00a7;
  margin-top: 0.3rem;
  display: inline-block;
}
.play-whitebtn {
  background: white;
  color: #7e00a7;
  width: 60px;
  height: 61px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  align-self: center;
}

.sidebar-item {
  display: flex;
}

.play-sm {
  color: #7e00a7;
}
