.notification-top{
  font-weight: 700;
  font-size: 0.938rem;
}
.notification-item{
  padding: 1.25rem 0rem;
}


.notification-small{
  font-weight: 400;
  font-size: 0.9rem;
  color: #6E7380;
}

.bg-purple {
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F5DCFE 100%);

}
.col{
  padding-left: 1.5rem;
}

.icon-box {
  width: 59px;
  height: 62px;
  background: #ffffff;
  border-radius: 50%;
}



.notification-text {
  font-size: 1rem;
  font-weight: 400;
   color: #6E7380;

}
