    .success-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

 
    .success-title {
      font-weight: 700;
      font-size: 1.125rem;
      color: #363942;
    }
    .success-text {
      font-size: 1.603rem;
      font-weight: 400;
      color: #363942;
      max-width: 519px;
      line-height: 1.07;
    }
    .btn-success-custom {
      background-color: #7E00A7;
      border: none;
      padding: 10px 30px;
      border-radius: 10px;
      color: white;
      font-weight: 700;
      font-size: 1.125rem;
      width: 100%;
      max-width: 472px;
    }
    .btn-success-custom:hover {
      background-color: #7E00A7;
    }