body {
  background: linear-gradient(to bottom, #ffffff, #f4d6ff);
}

/* Colors */
.bg-purple {
  background-color: #7E00A7 !important;
}

.text-purple  {
  color: #7E00A7 !important;
}
.text-purple1  {
  color: #7E00A7 !important;
}

.your-score-text{
font-weight: 700;
color: #363942;
font-size: 19px;


}


.image_svg{
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.arrow img {
  font-weight: 400;
  width: 9px;
  height: 18px;
  margin: 0 20px 0 0;
 border: 2px;
} 

.Certificate_btn {
  position: relative;
  right: 50px;
  width: 208px;
  height: 42px;
  border-radius: 10px;

}
.certificate-and-share{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:300px;
  height: 42px;

}

.Certificate_btn span {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  width: 116px;
  height: 23px;
  position: relative;
  

}




.text-muted{
  font-weight: 400;
}

/* Summary Card */
.summary-card {
  border-radius: 10px;
  position: relative;
  /* left: 75px; */
  width: 384px;
  height: 649px;
  margin-left: -40px;


}



.summary-card-inner {
  border-radius: 10px;

}


.Quiz_Answer_Key {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 100%;


}

.Quiz_Answer_Key small {
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  position: relative;
  top: 10px;

}

.your-score-1{
      position: relative;
    top: -8px;
    margin-bottom: 5px;
}


/* Trophy Icon */
.trophy-box {
  width: 64px;
  height: 64px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top:x;
  position: relative;
  top:10px;
}

.trophy-icon {
  width: 36px;
  height: 36px;
}

/* Score Box */
.score-box {
  border-radius: 10px;
  width: 340px;  
  padding: 5px 30px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
  right: 14px;
}

.your-score{
  height: 124px;
  width: 353px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255);
  color: black;
  margin-bottom: 8px;
  border-radius: 10px;
}

/* Stat rows */
.stat-row  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: rgba(255, 255, 255);
  color: black;
  padding: 10px 20px;
   border-radius: 10px;
  width: 353px;
  height: 58px;
  margin-bottom: 8px;
}

.chapter_btn_div{
  width: 384px;
  margin-left: 35px; 
  margin-bottom: 20px;

}

.chapter_btn {
  margin-top: 0;
    border-radius: 10px;
  line-height: 100%;
  padding: 20px;
  size: 15px;
  margin-top: 20px;
  background: #7E00A7;
  
     position: relative;
    right: 75px;
}

.chapter_btn:hover {
  background: #7d00a7bb;

}

/* Question Cards */
.question-card {
  width: 801px;
  border-radius: 14px;
  border: 1px solid #ddd;
  background: #FFFFFF;
  /* margin-top: 20px; */
  position: relative;
  right: 100px;
}



.questions_number_div , .questions_number {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  /* bold text */
  line-height: 16px;
}



._question {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  left: 50px;


}

.border-success-left {
  /* border-left: 6px solid #2dbf64; */
}

.border-danger-left {
  /* border-left: 6px solid #e55353; */
}

.wrong {
  margin-top: 10px;
}

/* Status Icons */

  .status-icon {
    width: 22px;
  height: 22px;
}
  .correct-img {
    width: 28px;
  height: 28px;
  /* margin: 7px 10px 8px 19px;  */
}

.status-icon-correct {
  background: #D6F6D2;
  width: 44px;
  height: 44px;
 border-radius: 100% 100% 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-icon-wrong {
  background: #F9CBCE;

  width: 44px;
  height: 44px;
  border-radius: 100% 100% 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Options */
.option {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 64px;

}

.circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 50%;
  /* perfect circle */
  border: 1px solid #B1B1B1;
  /* border color */
  color: #000;
  text-align: center;
  /* text visible */
}

.circle_wrong {
  background: #FF0B0B;
  color: white;
}

.circle_wrong img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_right {
  background: #00C957;
  color: white;
}


.status {
  position: absolute;
  right: 12px;
  font-size: 12px;
  font-weight: 600;
}

.correct-option {
  background-color: #e9f9f0;
  border-color: #2dbf64;
}

.wrong-option {
  background-color: #fdecec;
  border-color: #e55353;
}


/* Details */

.down-img-div{
  margin-left: auto; /* force right side */
  display: flex;
  align-items: center;
}


.details {
  display: flex;
  align-items: center;
  justify-content: start;

  cursor: pointer;
  font-weight: 600;
  padding: 20px;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  background-color: #fff;
  margin-right: 100px;
  border-radius: 10px;
  width: 801px;
  position: relative;
  right: 100px;
}





.details img {
  margin-right: 10px;
  width: 19.76px;
  height: 18.53px;
}

.continue-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* left aligned */
  padding-top: 30px;
  position: relative;
  right: 100px;
}

.continue-section p {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 6px 0;
  /* span ke bilkul paas */

  font-weight: 400;
  font-size: 18px;
  line-height: 16px;

}

.continue-section span {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  /* button se thoda gap */
  line-height: 19px;
  font-size: 17px;
  font-weight: 400;
}

.continue-section .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top:40px;
  font-size: 14px;
  border-radius: 6px;
  background: #7E00A7;
  width: 801px;
  height: 42px;
  margin-right: 200px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
}





@media (max-width: 1200px) {

  .details {
    width: 100%;
    margin-right: 0;
  }

  .continue-section .btn {
    width: 100%;
    margin-right: 0;
  }
}


@media (max-width: 992px) {

  /* Columns stack */
  .col-lg-3,
  .col-lg-9 {
    width: 100%;
  }

  /* Summary card center */
  .summary-card {
    margin-bottom: 24px;
  }

  /* Details width fix */
  .details {
    width: 100%;
    margin-right: 0;
  }

  /* Continue button */
  .continue-section .btn {
    width: 100%;
    margin-right: 0;
  }

  /* Question text alignment */
  ._question {
    left: 20px;
  }
}




@media (max-width: 576px) {

  /* Container spacing */
  .container,
  .container-fluid {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  /* Top bar */
  .Certificate_btn {
    right: 0;
    width: auto;
    height: auto;
    padding: 8px 12px;
  }

  .Certificate_btn span {
    font-size: 14px;
  }

  /* Heading */
  .Quiz_Answer_Key {
    padding: 16px !important;
    font-size: 16px;
  }

  .Quiz_Answer_Key small {
    font-size: 14px;
  }

  /* Summary card */
  .summary-card {
    margin-bottom: 20px;
  }

  /* Chapter button */
  .chapter_btn {
    margin-top: 0;
    border-radius: 10px;
    padding: 14px;
    font-size: 14px;
  }

  
  /* Question card */
  .question-card {
    padding: 16px !important;
  }

  

  ._question {
    left: 20;
    font-size: 14px;
  }

  /* Options */
  .option {
    flex-direction: row;
    padding: 10px;
  }

  .circle {
    width: 26px;
    height: 26px;
    font-size: 14px;
  }



  /* Details section */
  .details {
    width: 100%;
    margin-right: 0;
    padding: 14px;
  }
  

  /* Continue section */
  .continue-section .btn {
    width: 100%;
    margin-right: 0;
  }
}
