:root {
  --primary-color: #7E00A7;
  --light-color: #FCF5FF;
  --title-color: #000000;
  --text-color: #959BAC;
  --border-color: #454C63;
  --font: 'Istok Web', sans-serif;
  --theme-light: #DBC0E5;
}

/* Top offer bar */
.top-limited {
  color: var(--theme-light);
}

.top-offer-bar {
  background: #000;
  font-size: 0.9rem;
  font-family: var(--font);
   width: 100%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;

}

/* Buttons */
.btns {
  padding: 7px 36px;
}

.nav-item {
  font-size: 0.9rem !important;
  font-family: var(--font);
  font-weight: 400;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.btn-purple {
  background-color: var(--primary-color) !important;
  color: white;
  border-radius: 6px;
  font-weight: 400;
  font-family: var(--font);
}

.btn-outline-purple {
  /* border: 1px solid var(--primary-color); */
  border-radius: 6px;
  font-weight: 500;
  color: '#000000';
  font-family: var(--primary-color);
  width: 248px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-purple:hover {
  background: #454C63;
  color: white;
}


/* Search bar */
.search-bar {
  position: relative;
  width: 410px;
  height: 38px;
  min-width: 35% !important;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid #454C63 !important;
  color: var(--text-color) !important;
  font-family: var(--font);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
   margin-right: 300px;
  margin-left: 100px;
}

.search-bar input {
  height: 20px;
  width: 100%;
  border: 1.5px solid #d6d6d6;
  font-family: var(--font);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* Navbar links */
.nav-link {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--title-color);
  margin-right: 20px;
}


/* ================= LEFT SECTION ================= */

/* Parent ko relative */
.left-section1 {
  position: relative;
}

/* IMAGE normal rahe */
.left-section1 .col-md-9 {
  position: relative;
  z-index: 1;
}

/* TEXT image ke upar overlap kare */
.left-section1 .col-md-5 {
  position: absolute;
  top: 120px;        /* yahan adjust kar sakte ho */
  left: 0;
  z-index: 2;
}



.title1 {
  width: 293px;
  height: 79px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  position: relative;
  left: 30px;
  top: -80px;
  color: white;
}

.content1 {
    width: 252px;
  /* height: 79px; */
    position: relative;
  left: 30px;
  top: -110px;
  font-size: 16px;
  color: white;

}

.students1 {

  width: 799px;
  height: 463px;
  position: relative;
  top:-30px ;
  /* left: -10px; */

  /* right: 50px; */

}





/* Auth box */
.auth-box {
  background: #FCF5FF;
  border-radius: 10px;
  padding: 50px 0px;
  margin-top: 10px;
  margin-bottom: 60px;
  height: 753px;
 width: 463px;
  position: relative;
   right: 15px;
 }

.auth-title {
  font-family: var(--font);
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--title-color);
}

.title {
  font-family: var(--font);
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--title-color);
}

.content {
  font-family: var(--font);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #959BAC;
}

/* Form controls */
.form-control {
  margin: auto;
  width: 427px;
  height: 43px;
  opacity:0.70;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid #454C63 !important;
  color: var(--text-color) !important;
  font-family: var(--font);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.form-control-m-f{
  /* margin: auto; */
  width:206px ;
  height: 43px;
  opacity:0.70;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid #454C63 !important;
  color: var(--text-color) !important;
  font-family: var(--font);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.male-female{
  margin-left:5px ;
  width: 427px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.m-f{
  margin-left: 10px ;
}
.female{
  position: relative;
  right: 30px;
}

.male-female .form-control-m-f{
  background: white;
}

.form-control-m-f,
.form-control:focus-visible,
.form-control:focus {
  box-shadow: none !important;
  border-color: none !important;
}

.second-input:focus-visible {
  outline: none !important;
}

/* Misc */
.bg-round {
  background: var(--primary-color);
}


.address ,.namefull , .email {
  width: 100%;
}
.check-box{
  margin-top: 3px;
 
}

.btn-confirm{
  width: 427px;
  position: relative;
  top: 10px;
  margin-left:17px ;
}